---
import "~/style/global.css"
import Intro from "~/components/pageComponents/Intro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FairShare</title>
	</head>
	<body class="h-dvh flex items-center justify-center bg-black text-white">
		<Intro client:load/>
	</body>
</html>
